:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

.dark {
    --bg-color: #121212;
    --text-color: #e0e0e0;
}

.bg-variable {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
    background-image: none;
    /* or your default */
    color: var(--text-color);
    transition: background-color 0.3s ease, background-image 0.3s ease, color 0.3s ease;
}